:root {

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --base100: #181717;
  --base200: #292725;
  --base300: #ece3e3;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  /* color-scheme: light dark; */
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }


}

body {
  margin: 0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: inherit;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.line, .char {
  position: relative;
  padding-bottom: 0.2rem;
  margin-bottom: -0.2rem;
  will-change: transform;
}

a {
  color: inherit;
  text-decoration: none;
}